/** Video-main page style
*/
.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: auto;
		height: 100%;
	}
}

@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: 300%;
		left: -100%;
	}
}
/** Upload file section
*/
.droppable {
	background: #286090;
	color: #fff;
	opacity: 0.85;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.droppable .dropppable-text {
	position: relative;
	top: 45px;
	height: 0;
}


.droppable.dragover {
	background: #286090;
}

[draggable=true] {
	-khtml-user-drag: element;
}

#login-dp, #signup-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color:rgba(255,255,255,.8);
	height: auto;
}

.form-file {
	top: 5em;
}