
<!-- fixed navigation bar -->
<div id="wrapper" class="active">
	<div id="sidebar-wrapper">
		<ul id="sidebar_menu" class="sidebar-nav">
			<li class="sidebar-brand"><a id="menu-toggle" href="#" ng-click="karaokeCtrl.toggleMenu($event)">Library</a></li>
		</ul>
		<ul class="sidebar-nav" id="sidebar">

		</ul>
	</div>

	<!-- Page content -->
	<div id="page-content-wrapper">
		<!-- Keep all page content within the page-content inset div! -->
		<div class="page-content inset">
			<div class="row">
				<div class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right pointer">
								<li class="bottom text-center dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										<div ng-if="presentationCtrl.loggedUser">
											<span class="glyphicon glyphicon-user"></span>
											<b>{{presentationCtrl.loggedUser.name}}</b>
											<span class="glyphicon glyphicon-chevron-down"></span>
										</div>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="#" ng-click="presentationCtrl.logout()" class="logout">
												<span class="glyphicon glyphicon-log-out"></span> Log out
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<div id="dragandrophandler">Drag & Drop Files Here</div>
					<br><br>
					<div id="status1"></div>
					<div class="video-container">Video</div>
					<div class="container-btn">
						<md-button class="md-default md-primary md-raised demo-dialog-open-button pull-right">
							RECORD
						</md-button>
					</div>
				</div>
				<!--<div class="presentation-container">rgg</div>-->

			</div>
		</div>
	</div>
</div>

