<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="bottom text-center dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<b>Join Us</b>
					</a>
					<ul id="signup-dp" class="dropdown-menu">
						<li>
							<div class="row">
								<div class="col-md-12">
									<form class="form" role="form" name="form" accept-charset="UTF-8" novalidate ng-controller="SignupCtrl">
										<div class="form-group" name="form">
											<input type="text" ng-model="current_user_ui.name" name="name" class="form-control" required="" placeholder="name">
											<div ng-show="form.$submitted || form.name.$touched">
												<span ng-show="form.name.$error.required">Name is required</span>
											</div>
										</div>
										<div class="form-group" name="form">
											<input type="email" ng-model="current_user_ui.email" name="email" class="form-control" required="" placeholder="email">
											<div ng-show="form.$submitted || form.email.$touched">
												<span ng-show="form.email.$error.required">Email is required</span>
												<span ng-show="form.email.$error.email">This is not a valid email</span>
											</div>
										</div>
										<div class="form-group" name="form">
											<input type="password" ng-model="current_user_ui.password" name="password" required="" class="form-control" placeholder="password">
											<div ng-show="form.$submitted || form.password.$touched">
												<span ng-show="form.password.$error.required">Password is required</span>
											</div>
										</div>
										<div class="form-group" name="form">
											<input type="password" ng-model="current_user_ui.password_confirm" name="password_confirm" required="" class="form-control" placeholder="password">
											<div ng-show="form.$submitted || form.password_confirm.$touched">
												<span ng-show="form.password_confirm.$error.required">Confirm your password is required</span>
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn-primary btn-block" ng-click="register()">Sign Up</button>
										</div>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-user"></span>
						<strong>Log in</strong>
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form class="form" name="form" role="form" accept-charset="UTF-8" novalidate ng-controller="SigninCtrl">
											<div class="form-group" name="form">
												<input type="email" ng-model="current_user_ui.email" name="email" class="form-control"
															 required="" placeholder="email">

												<div ng-show="form.$submitted || form.email.$touched">
													<span ng-show="form.email.$error.required">Email is required</span>
													<span ng-show="form.email.$error.email">This is not a valid email</span>
												</div>
											</div>
											<div class="form-group" name="form">
												<input type="password" ng-model="current_user_ui.password" name="password" required=""
															 class="form-control" placeholder="password">

												<div ng-show="form.$submitted || form.password.$touched">
													<span ng-show="form.password.$error.required">Password is required</span>
												</div>
											</div>
											<div class="form-group">
												<button class="btn btn-primary btn-block" ng-click="signin()">Sign in</button>
											</div>
										</form>
									</div>
								</div>
							</li>
						</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="fullscreen-bg">
	<video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
		<!--<source src="video/big_buck_bunny.webm" type="video/webm">-->
		<source src="../assets/vids/big_buck_bunny.mp4" type="video/mp4">
		<source src="../assets/vids/big_buck_bunny.ogv" type="video/ogg">
	</video>
</div>
